<section class="" style="background-color: #080808" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!-- <h2 class="section-heading">We've got what you need!</h2> -->
                <img class="img-fluid" src="{{ site.baseurl }}/img/logo2.png" style="width: 100%; max-width: 500px;">
                <hr class="logo"> 
                <p class="text-faded">
				Are you tired of coming home to a messy house or office? Let Anne's Cleaning Services take care of it for you! With over 5 years of 				experience in the industry, we know how to get your space looking its best. Plus, we're offering a free evaluation to show you just 				how great our services are. As a former employee of two cleaning companies, Anne has the expertise and attention to detail that 					your space deserves. Contact Anne's Cleaning Services today to start experiencing the joys of a clean home or office.
                </p> 
                <a href="#contact" class="page-scroll btn btn-default btn-xl logo_button"
                   style=""
                >Contact us!</a>
            </div>
        </div>
    </div>
</section>
