<section id="contact" class="w-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Discover the true potential of your space with our free cleaning evaluation!</p>
            </div>
        	<div class="col-lg-2 col-lg-offset-1 text-center" style="">
        		<a href="https://wa.me/{{site.whatsapp_en}}">
                	<i class="fa fa-whatsapp fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                	<p>{{ site.whatsapp_en_display }}</p>
            	</a>
        	</div>
        	<div class="col-lg-4 col-lg-offset-1 text-center">
            	<a href="mailto:{{ site.email }}">
            	<i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                	<p style="">{{ site.email }}</p>
            	</a>
        	</div>
        	<div class="col-lg-2 col-lg-offset-1 text-center">
            	<a href="https://wa.me/{{site.whatsapp_es}}">
            	<i class="fa fa-whatsapp fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                	<p>{{ site.whatsapp_es_display }}</p>
            	</a>
        	</div>
        </div>
    </div>
	<br />    
    <div align="center" class="">
    	<img class="img-fluid" src="{{ site.baseurl }}/img/logo.png" style="width: 100%; max-width: 300px;">
    </div>
</section>
