<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- Row 1 -->
            {% include portfolio_image.html src="img/portfolio/image1.jpeg" category="Home" name="Living Room" %}
            {% include portfolio_image.html src="img/portfolio/image2.jpeg" category="Bedroom" name="Adult" %}
            {% include portfolio_image.html src="img/portfolio/image7.jpeg" category="Home" name="Fireplace" %}
            <!-- Row 2 -->
            {% include portfolio_image.html src="img/portfolio/image4.jpeg" category="Classic" name="Kitchen" %}
            {% include portfolio_image.html src="img/portfolio/image5.jpeg" category="Modern" name="Kitchen" %}
            {% include portfolio_image.html src="img/portfolio/image6.jpeg" category="Bedroom" name="Children" %}
		</div>
    </div>
</section>
