<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
                <p>
                Looking for a thorough cleaning that will give your home a fresh and clean feel? Our service is just what you need! We specialize in cleaning all those hard-to-reach areas, from the outside of your doors and windows to the tops of your ceiling fans and blinds. We'll even make sure your baseboards are looking their best. Our cleaning experts will take care of your kitchen and cabinets, as well as your bathrooms and any other rooms that need dusting. And with our additional sheet washing and changing service, you can rest easy knowing your home is clean, fresh, and ready for you to relax in. Don't worry if certain areas are unoccupied, we'll make sure to only clean the inside of these spaces if it's safe to do so. Let us help you take your home to the next level of cleanliness today!
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary"></i>
                    <h3>Regular service</h3>
                    <p class="text-muted">
                    	Our cleaning service will leave your home sparkling clean and fresh.
                    </p>
                </div>
            </div>
            <div class="col-lg col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Deep cleaning</h3>
                    <p class="text-muted">
						Deep cleaning ensures a thorough and complete removal of dirt and grime from every nook and cranny.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>
At our company, we take pride in working with the most reliable and recognized brands in the industry. We understand the importance of quality and consistency, which is why we only choose the best products to work with. If you have a specific product in mind that you would like us to use, please let us know in advance so we can accommodate your request. Our expert team is committed to delivering exceptional results and we are confident that our partnership with these trusted brands will exceed your expectations.
                </p>
            </div>
        </div>
    </div>
</section>
